/*
COLORS:
orange - backgrounds #FE7743
darkblue/grey - sections #273F4F
lightblue - highlights #447D9B
lightgrey - fonts #D7D7D7
*/

body{
    background-color: #fe7743;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header{
    display: flex;
    background-color: #273f4f;
    width: 80%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

h1{
    color: #d7d7d7;
    margin: 0;
    padding: 0;
}